{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-duplicate-imports": 0,
    "import/no-duplicates": 0,
    "no-underscore-dangle": 0,
		"no-useless-computed-key": 0,
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0,
  }
}
