:root {
  --resizable-content-border-color: var(--ui-primary-border-color);
}

.resizable-content {
  position: relative;
  border: 1px solid var(--ui-primary-border-color);
  overflow: hidden;
  padding: 10px;
}

.resizable-content--handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid var(--ui-primary-border-color);
  color: var(--ui-secondary-border-color);
  background-color: var(--ui-background-color);
}

.resizable-content--handle:after {
  display: inline-block;
  content: "=";
  transform: scaleX(10) scaleY(0.8);
}
