:root {
  --ui-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --ui-font-size: 16px;
  --ui-background-color: #fff;
  --ui-highlight-color: #2ea6d9;
  --ui-text-color: #222;
}

@custom-media --until-desktop-viewport (max-width: 599px);
@custom-media --from-desktop-viewport (min-width: 600px);
