* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
}

a {
  color: inherit;
}
