<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>React Blueprint</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Ready for takeoff React setup">
  </head>
  <body>
    <style id="css"></style>
    <div id="root"></div>
    <% (htmlWebpackPlugin.options.scripts || []).forEach(function(script) { %>
      <script src="<%= script %>"></script>
    <% }) %>
    <script type="application/json" id="data"></script>
    <script>
    </script>
  </body>
</html>
